body{
    color:black;
    background-color: #FFF;
}

.blog-inf{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color:black;
}

.blog-header{
    background-color: white;
}
/* se baja el tamaño de la imagen */
.blog-photo{
    height: 23.5rem;
}

.maps{
    transform: scale(0.8);
}

.front-photo-img{
    object-fit: cover;
    object-position: center;
    height:20rem;
    width:100%;
    margin:0;
}

.user-blog-container{
    display: flex;
    height: 19.2rem;
    justify-content: center;
    width: 100vw;
    background-color: #FFF;
}

.photo-logo-img{
    object-fit: scale-down;
    height:13.025rem;
    width:13.025rem;
    margin:1.2rem 1rem auto 2rem;
}

.name-region{
    display: flex;
    width: fit-content;
    align-items: center;
}

.name-region-p{
    width: fit-content;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 3rem auto 0 2rem;
    border-bottom: 0.25rem solid #1832C8;
}

.info-region{
    width: 42.5625rem;
    margin: 2rem auto auto 2rem;
}

.maps-container{
    margin: 1rem 0 0 4rem;
    right:2rem;
    top:8rem;
}

.links-container{
    background-color: #1832c83f;
    padding:1rem;
    /* border-radius: 0 0 25px 25px; interpretacion de figma, width adjusted */
    height: 40rem;
    width: 100vw;
    margin-top: 5rem;
    padding-top: 5rem;
}

.links{
    display:flex; 
    justify-content: center;
    padding-top: 3rem;
   
}

.list-links-left, .list-links-right{
    display:flex;
    flex-direction: column;
}

.ul-links{
    list-style: none;
    margin:0;
    padding: 0;
}

.links-li{
    display:flex;
    align-items: center;
    font-size: 2.25rem;
    height: 7.5625rem;
    width: 28.5rem;
    border-radius: 1rem;
    color:#1832C8;
    background-color: aliceblue;
    margin-block: 1rem;
    margin-inline: 3rem;
    padding-left: 1rem;
    position: relative;  
}

.flecha{
    position:absolute;
    right: 3rem;

}

.links-title{
    display:flex;
    justify-content: center;
}

.title-l{
    border-bottom: 0.25rem solid #1832C8;
    color: #1F1F23;
    text-align: center;
    /* font-family: Montserrat; */
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
}

.formBlog{
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding-left: 10rem;
    padding-top: 3rem;
}

.titleformBlog{
    margin-bottom: 0.5rem;
}

.opcionesRegiones{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

@media (max-width:640px){
    .root{
    flex-direction: column;
    align-items: center;
    padding: 12px;
    }

    .front-photo{
        flex-direction: column;
        align-items: center;
    }

    .user-blog-container{
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
   .info-container{
    width: 100%;
   }

    .maps{
        height: 10rem;
    }

    .links-container{
        padding-top: 1rem;
    }

    .links{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .links-li{
        height: 5rem;
    }

    .title-l{
        margin: 0;
    }


}


