.notifications-container{
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: aliceblue;
  position:absolute;
  right: 0;
  top:0;
  
}

.d-flex{
  display: flex;
  padding: 1rem;
  align-items: center;
  width: 100vw;
  background-color: blue;
  margin: 0;
}

.user-notif-background{
  display: flex;
  background-color: aliceblue;
  padding: 0.2rem;
  align-items: center;
  border-radius: 5px;
}

.user-image-notif{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid gray;
}

.NavBarunu{
  width: 30vw;
  margin-inline: 12px;
}

.user-name-notif{
  margin-inline: 12px;
  font-weight: bold;
}

.heart-icon{
  width: 50px;
  height: 50px;
}

.mail-icon-notif{
  height: 50px;
  width: 50px;
}

.btn-outline-success{
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
}

.aside-menu-notif{
  list-style: none;
}

.notif-list{
  margin-block: 0.5rem;
}

.list-anchor{
  color: black;
  font-weight: bold;
}

.aside-notif{
  display: flex;
  flex-direction: column;
  background-color: gray;
  width:25%;
  margin: 7.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 15px;
}

.container-card{
    display: flex;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: left;
    max-width: 500px;
    max-height: 100px;
    justify-content: left;

}
.card-img{
    display:flex;
    max-width: 15%;
    height: 70px;
    border-radius: 50%;
    justify-items: left;
}
.card-title{
  display:block;
  justify-self:up;
  order:1;

  font-size: 16px;
  flex-direction: vertical-text;
  font-family: Arial, sans-serif;
  margin: 1,1,1,1;
  color: hsl(0, 0%, 2%);
}
.card-text{
  display:flex;
  justify-self:down;
  order:2;
  flex-direction: vertical-text;
  font-size: 10px;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 2%);
}

.list-notif-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 19.4rem;
  width: 95%;
  border-radius: 12px 8px 8px 12px;
  background-color: rgba(128, 128, 128, 0.325);
  margin: 7.5rem 0.5rem 0.5rem 0.5rem;
}

.container-card-list{
  display: flex;
  border: 1px solid black;
  margin: 12px;
  list-style: none;
  width: 95%;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.542);
}