body{
background-color: #9fa6f4;
overflow-y: scroll; 
scroll-behavior: smooth;

}

.navbar{
    background-color: #1832c8;
    position: sticky;
    top: 0;
    text-align:end;
    width:100%;


}
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
   }
   
   .user-name {
    color:aliceblue;
    margin: 0;
   }

.navbar button {
 border: black;
 background-color: aliceblue;
 color: aliceblue;
 margin: 5px;
 cursor: pointer;

}

.aside {
    background-color: aliceblue;
    border-color: #1832c8;
    position: sticky;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.aside button {
    background-color: aliceblue;
    color: white;
    border-color: #1832c8;
    
    
    cursor: pointer;
    font-size: 14px;
    display: block;
    
}

.main { 
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.main.button1 {
    border-color: #1832c8;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    
   }

   .main.button2 {
    border-color: #1832c8;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;

   }

   .main.button3 {
    border-color: #1832c8;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
   }

   .main.button-text{
    justify-content: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
   }

.footer {
    background-color: #1832c8;
    padding: 20px;
    text-align: right;
   }