body{
background-color: #1832c821;

}

.navbar{
    background-color: #1832c8;
    position: sticky;
    top: 0;
    padding: 20px;
    text-align:end;


}
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
   }
   
   .user-name {
    color: white;
    margin: 0;
   }

.navbar button {
 border: black;
 background-color: white;
 color: white;
 padding: 20px;
 cursor: pointer;

}

.aside {
    background-color: #f8f9fa;
    border-color: #1832c8;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.aside button {
    background-color: white;
    color: white;
    border-color: #1832c8;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    
}
.main.button {
    border-color: #1832c8;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    
   }

.footer {
    background-color: #1832c8;
    padding: 20px;
    text-align: right;
   }