body{
    color:black;
    background-color: #FFF;
}
.profile{
    background-color: aliceblue;
    color:black;
}
.header{
    background-color: white;
}

.front-photo-img{
    object-fit: cover;
    object-position: center;
    height:20rem;
    width:100%;
    margin:0;
}

.profile-container-info{
    display: flex;
    height: 19.2rem;
    justify-content: center;
}
.profile-photo{
    object-fit: scale-down;
    height:13.025rem;
    width:13.025rem;
    margin:1.2rem 1rem auto 2rem;
}

.profile-user-name{
    display: flex;
    width: fit-content;
    align-items: center;
}
.user-name{
    width: fit-content;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 3rem auto 0 2rem;
    border-bottom: 0.25rem solid #1832C8;
}

.profile-description{
    width: 42.5625rem;
    margin: 2rem auto auto 2rem;
}

.inTouch-container{
    margin: 4rem 0 0 4rem;
    right:2rem;
    top:8rem;
}

.inTouch-data-container{
    display: flex;
    align-items: center;
}

.setting-icon{
    height: 2rem;
    width: 2rem;
    margin: 2rem 0 0 1rem;
    object-fit: cover;
    object-position: center;
}

.setting-icon:hover{
    cursor: pointer;
}

.icons{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    object-fit: cover;
    object-position: center;
}



.cards-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    height: 48.4375rem;
    width: 100%;
    margin: 0px auto;
}

.project-title{
    padding: 4px;
    border-bottom: 0.25rem solid #1832C8;;
}

.cards-container{
    display: flex;
    justify-content: space-around;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22.875rem;
    height: 30.1875rem;
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 15px;
    filter:drop-shadow(0 0 0 1rem rgb(26, 25, 25))
}

.connect-btn{
    display: flex;
    width:12.9rem;
    height:5rem;
    border:none;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #1832C8;
    font-size: 2rem;
}

.connect-btn:active{
    animation:blur-out-expand 0.2s linear both 
}

.blog{
    display: flex;
    flex-direction: column;
    background-color: #e9e9ebb6;
    align-items: center;
    padding: 2rem;
}

.blog-title{
    padding:4px;
    border-bottom: 0.25rem solid #1832C8;
}

.blog-container{
    width: 80vw;
    background-color: #1832c83b;
    border-radius: 0 0 25px 25px;
}

.blog-photo{
    width: 100%;
    height: 28.5625rem;
    object-fit: cover;
    object-position: center;; 
}
.blog-info-container{
    padding:2rem;
}

.blog-sub-title{
    font-size: 2.438rem;
}
.blog-detail{
    font-size: 2rem;
    font-weight: lighter;
}

@keyframes blur-out-expand{
    0%{transform:scale(1);filter:blur(.01px);} 
    100%{transform:scale(2);filter:blur(12px);opacity:0}
}

