body{
    background-image:
                      linear-gradient(180deg, #1834CE 0%, #2BAAA1 100%);
    /* background-attachment: fixed; */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
  }
  
  #root{
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    background-image: url('../assets/Images/waterBackgroud.png');
    background-size:75%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20%;
  }
   
  .reg-section {
   display: flex; 
   align-items: center;
   flex-direction: column;
   height: 100vh;
  }
  .title-reg-main{
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 75px;
  }
  .container-reg{
    display: flex;
    width: 100%;
    height:100%;
    justify-content: center;
  }
  
  .login-reg{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255);
    border-radius: 20px;
    width: 25.75rem;
    height: 29.93rem;
    align-items: center;
    padding: 18px;
    
  }

  .login-user-reg{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
  
  p.enter{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #000000;
  }
  .corr2{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #000000;
    text-decoration: underline;
    font-weight: bold;

  }
  
  .reg-in-btn2-reg{
    display: flex;
    width: 15.75rem;
    height: 3.125rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(241, 231, 231);
    background-color: #1834CE;
    border-radius: 15px;
    border-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .watermark-reg{
    width: 52.5%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .watermark-reg-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .watermark-link{
    font-size: 2rem;
    margin-right: 4rem;
    margin-bottom: 1.44rem;
    color: aliceblue;
  }

  .watermark-p {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: aliceblue;
    margin-left: 55;
  }
